@using DashboardMgmt.Application.Menu;
@using DashboardMgmt.Model;
@using DashboardMgmt.Services;
@using Dashboard.sdk.Records;
@using System.ComponentModel.DataAnnotations;


@inject EngagementStore _store;

<RightPanel @ref="RightPanel" WidthLevel="2">
    <Title>@Title</Title>
    <Body>

        <EditForm EditContext="@EditContext">
            <DataAnnotationsValidator />

            <div class="form-group">
                <label>Provider <RequiredSymbol /></label>
                <InputText class="@FormControllClass(!Create)" DisplayName="Provider's name" @bind-Value="StageModel.Provider" />
                <ValidationMessage For=@(() => StageModel.Provider) />
            </div>

            <div class="form-group">
                <label>Stage</label>
                <InputText class="@FormControllClass(!Create)" DisplayName="Stage" @bind-Value="StageModel.Stage" />
                <ValidationMessage For=@(() => StageModel.Stage) />
            </div>

            <div class="form-group">
                <label>Start Date</label>
                <InputDate class="@FormControllClass(false)" DisplayName="Stage" @bind-Value="StageModel.StartDate" />
            </div>

            <div class="form-group">
                <label>Completed Date</label>
                <InputDate class="@FormControllClass(false)" DisplayName="Stage" @bind-Value="StageModel.CompletedDate" />
            </div>

        </EditForm>

    </Body>
    <Footer>
        <NavLink @onclick="CreateOrUpdate" class="@ButtonClass">@CreateOrUpdateText</NavLink>
        <NavLink @onclick="() => RightPanel.Close()" class="btn btn-light">Cancel</NavLink>
    </Footer>
</RightPanel>


@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public Func<Task> Callback { get; set; } = null!;

    private StageHistoryModel StageModel { get; set; } = new();

    private RightPanel RightPanel { get; set; } = null!;

    private bool Create { get; set; } = false;

    private EditContext EditContext { get; set; } = null!;

    private Dictionary<string, string> ProviderErrorMsg { get; set; } = new Dictionary<string, string>(new[] { new KeyValuePair<string, string>("Provider", string.Empty) });

    private bool ReadyToSet { get; set; } = false;

    protected override void OnInitialized()
    {
        EditContext = new EditContext(StageModel);
        base.OnInitialized();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Id >= 0)
        {
            StageHistoryModel? record = (await _store.Client.StageHistory.List(stageHistoryId: Id)).FirstOrDefault()?.ConvertTo();
        }

        //Create = record == null;
        //StageModel = record ?? new();

        await base.OnParametersSetAsync();
    }

    private string CreateOrUpdateText => Create ? "Create" : "Save";
    private string Title => (Create ? "Create" : "Update") + " Engagement";
    private string FormControllClass(bool disable) => "form-control" + (disable ? " disabled" : string.Empty);
    private string ButtonClass => "btn " + (Create ? "alert-success" : "alert-danger");

    public void Open() => RightPanel.Open();
    public void Close() => RightPanel.Close();

    private Task OnCancel()
    {
        Close();
        return Task.CompletedTask;
    }

    private async Task CreateOrUpdate()
    {
        bool validationState = EditContext.Validate();
        if (!validationState) return;

        //var results = EditContext.GetValidationMessages();
        //await InvokeAsync(() => StateHasChanged());


        //await _store.Client.StageHistory.Set(Model.Provider, Model.Stage, Model.StartDate, Model.CompletedDate);
        //Close();
        //await Callback();
    }
}
